header{
    font-size: 200%;
    text-align: center;
    line-height: 250%;
}

footer{
    font-size: 80%;
    letter-spacing: 3px;
    text-align: center;
}

h3{
    color: red;
}

a{
    text-decoration: none;
    color: white;
}

.btn-custom {
    background-color: #28a745; /* Zöld háttér */
    color: white; /* Fehér szöveg */
    border-radius: 5px; /* Lekerekített sarkok */
    padding: 10px 20px; /* Belső margó */
    border: none; /* Nincs keret */
}

.btn-custom:hover {
    background-color: #218838; /* Sötétebb zöld hover */
}