<form onsubmit="szerzoFeltoltes(event)">
    <h2 style="text-align: center;" class="mb-3">Szerző feltöltés</h2>
    <div class="mb-3">
      <label for="name">Név</label>
      <input type="text" class="form-control" id="name" placeholder="Adja meg a nevét!" required>
    </div>
    <div class="mb-3">
      <label for="birthdate">Születési dátum</label>
      <input type="date" class="form-control" id="birthdate" required>
    </div>
    <button type="submit" class="btn btn-primary">Feltöltés</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='../index.html'">Vissza..</button>
</form>
