<form>
    <h2 style="text-align: center;">Könyv felvétele</h1>
    <div class="form-group">
      <label for="title">Cím</label>
      <input type="title" class="form-control" id="title" placeholder="Adja meg a címét!">
    </div>
    <div class="form-group">
      <label for="releaseDate">Kiadási dátum</label>
      <input type="date" class="form-control" id="releaseDate" placeholder="Adja meg a kiadási dátumot!">
    </div>
    <div class="form-group">
        <label for="isbn">ISBN</label>
        <input type="title" class="form-control" id="isbn" placeholder="Adja meg az ISBN-t!">
    </div>
    <select class="form-select" id="authorSelect" aria-label="Válassza ki a könyv szerzőjét!">
      </select>
    <button type="submit" class="btn btn-primary" onclick="konyvFeltoltes()">Feltöltés</button>
    <button type="submit" class="btn btn-secondary"><a href="../index.html">Vissza..</a></button>
  </form>