<form>
    <h2 style="text-align: center;">Szerző módosítás</h1>
    <div class="form-group">
      <label for="name">Név</label>
      <input type="name" class="form-control" id="name" placeholder="Adja meg a nevét!">
    </div>
    <div class="form-group">
      <label for="birthdate">Születési dátum</label>
      <input type="date" class="form-control" id="birthdate" placeholder="Adja meg a születési dátumot!">
    </div>
    <button type="submit" class="btn btn-primary" onclick="szerzoModositas()">Módosítás</button>
    <button type="submit" class="btn btn-secondary"><a href="../index.html">Vissza..</a></button>
  </form>