<form>
    <h2 style="text-align: center;" class="mb-3">Könyv módosítása</h1>
    <div class="mb-3">
      <label for="title">Cím</label>
      <input type="title" class="form-control" id="titleB" placeholder="Adja meg a címét!">
    </div>
    <div class="mb-3">
      <label for="releaseDate">Kiadási dátum</label>
      <input type="date" class="form-control" id="releaseDateB" placeholder="Adja meg a kiadási dátumot!">
    </div>
    <div class="mb-3">
        <label for="isbn">ISBN</label>
        <input type="title" class="form-control" id="isbnB" placeholder="Adja meg az ISBN-t!">
    </div>
  

    <button type="submit" class="btn btn-primary" onclick="updateKonyv()">Módosítás</button>
    <button type="submit" class="btn btn-secondary"><a href="/frontend/index.html">Vissza..</a></button>
  </form>
  
